@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TwitterHeavy';
  src: url('assets/fonts/Twitter_Chirp-Twitter_Chirp_Heavy.otf');
}

@font-face {
  font-family: 'TwitterBold';
  src: url('assets/fonts/Twitter-Chirp-Bold.otf');
}